*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    color: #3A3A3A;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 600;

}
.btn-primary{
    background-color: #E02C6D;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    color: white;
}

/*     header styles  */
header{
    padding: 80px 120px;
    background-color: #FFF;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: 89% 53%;
    background-size: 30%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
    margin-right: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
.header-icon i{
    margin-left: 1.5rem;

}
/*       banner section   */
.banner-section{
    max-width: 1160px;
    margin: 0 auto;
    padding: 120px 0 100px 0;
    
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.banner-content{
    margin-left: 1.5rem;
}
.banner-content h1{
    color: #3A3A3A;
    font-size: 3rem;
}
.banner-content p{
    margin: 1rem 0;
}
.banner-content button{
    margin-top: 8px;
}
.banner-img img{
    width: 100%;
}

@media screen and (max-width:576px) {
    header{
        padding: 10px 0;
        margin: 0 auto;
        background-position: 50% 95%;
        background-size: 92%;
    }
    .navbar,.banner-container{
        flex-direction: column;
    }
    .navbar h3{
        margin-bottom: 10px;
    }
    .navbar ul li{
        margin-right: 10px;
    }
    .header-icon i{
        margin-left: 10px;
    }
    .banner-content{
        text-align: center;
        margin-top: 60px;
    }
    .banner-content h1{
        color: #3A3A3A;
        font-size: 2rem;
    }
    .banner-section{
        padding: 0;
    }
    
}

@media screen and (min-width:577px) and (max-width:962px) {
    header{
        padding: 10px 0;
        background-position: 50% 75%;
        background-size: 70%;
        
    }
    .navbar{
        flex-direction: column;
    
    }
    ul{
        margin-top: 30px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-content{
        text-align: center;
        margin-top: 0px;
    }
}